/***************** Badge *****************************/


.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #0062cc;
}

a.badge-primary:focus, a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

a.badge-secondary:hover, a.badge-secondary:focus {
  color: #fff;
  background-color: #545b62;
}

a.badge-secondary:focus, a.badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #1e7e34;
}

a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

a.badge-info:hover, a.badge-info:focus {
  color: #fff;
  background-color: #117a8b;
}

a.badge-info:focus, a.badge-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

a.badge-warning:hover, a.badge-warning:focus {
  color: #212529;
  background-color: #d39e00;
}

a.badge-warning:focus, a.badge-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

a.badge-danger:hover, a.badge-danger:focus {
  color: #fff;
  background-color: #bd2130;
}

a.badge-danger:focus, a.badge-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

a.badge-light:hover, a.badge-light:focus {
  color: #212529;
  background-color: #dae0e5;
}

a.badge-light:focus, a.badge-light.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

a.badge-dark:hover, a.badge-dark:focus {
  color: #fff;
  background-color: #1d2124;
}

a.badge-dark:focus, a.badge-dark.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

/*********************************************/

#modalLabelcropper_profile {
    display: block;
}


.list-li

{
    list-style:none;
}

.list-li 
li
{
    border-bottom: 1px solid;
    padding:5px;
}
/*******************************************/

.fieldset {
    /* border: 1px solid; */
    border-bottom: 2px solid #00c0ef;
    padding-bottom: 2px;
    border-radius: 2px;
}

.day {
    cursor: pointer;
}

.datepicker {
    padding: 9px 12px;
}


/************************************/

.nouvelle-page {
    background-color: #716f6d;
    border-color: #dfe8de;
    position: absolute;
    left: 9px;
    top: -7px;
    z-index: 10;
}

.box-search-page {
    position: absolute;
    left: 71px;
    top: 3px;
}


/************************************/

.showing-page-list div {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding: 5px 7px;
    margin: 2px 0px;
}

#count-search-page {
    background-color: #a2b5c1 !important;
    font-size: 86px;
    padding: 0px 9px;
    position: absolute;
    /*left: -69px;*/
    top: 86px;
    padding-top: 1px;
    text-shadow: 2px 2px 0px #2b2626;
    z-index: 20;
    border-radius: 0;
    top: -73px;
    /*top:-73px;
    bloc-bottom: -705%;*/
}

.content-header {
    color: #fff;
    text-shadow: #ccc 2px 2px 0px;
}

.skin-blue .content-header {
    background: #ccc;
    padding-bottom: 16px;
}


/************************************************/

.modal-body.big_content {
    min-height: 254px;
}

.modal-body h1 {
    margin: 0;
    padding-bottom: 15px;
}

.showing-book-list p {
    font-size: 16px;
    font-weight: 500;
    padding: 6px 7px;
    margin: 2px 0px;
    box-shadow: 5px 1px 18px #ced2d4;
    background-color: #e8e5e5;
    cursor: pointer;
}

.showing-book-list {
    position: absolute;
    overflow: auto;
    background: #f7f9f9;
    z-index: 200;
    width: 98%;
}

.modal-header {
    background-color: #3578a9;
}

.btn-info {
    background-color: #0095ff;
    border-color: #00acd6;
}

.modal #description {
    min-height: 160px;
}


/*******************************************************************/

.search-div {
    cursor: pointer;
}

.title-mini {
    font-size: 19px;
    color: #7f7a7a;
    text-shadow: #848383 1px 1px 0px;
}

.page-content,
.page-code {
    min-height: 142px !important;
}

.modal-content .data-content {
    font-size: 16px;
    font-weight: 600;
}

strong {
    font-size: 19px;
    /*color:red;*/
}

strong em {
    font-weight: 900;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 70%;
        max-width: 1345px;
        left: 0%;
    }
}


/*#############################################################################*/

.nosidebar {
    padding: 59px;
    max-width: 1104px;
}

.dropfile {
    position: relative;
    border: 3px dashed #bdb3b3 !important;
    color: #ABA9A9 !important;
    display: block !important;
    width: 150px;
    height: 150px;
    margin-left: 5px;
    margin-top: 5px;
    overflow: hidden;
}

.box-body img {
    display: block;
}

li.active>a {
    color: #ffffff;
    font-weight: 900;
    text-shadow: 2px 0px 3px #847979;
}

.profile-user-img {
    margin: 0 auto;
    width: 107px;
    padding: 3px;
    border: 3px solid #393e48;
}

.profile-username {
    font-size: 21px;
    margin-top: 5px;
    font-weight: 600;
}

.box.box-primary {
    border-top-color: #343a3e;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #343c40;
}

.dropfile,
.box-body img {
    /*float: left;*/
}

.dropfile img {
    position: absolute;
    z-index: 10;
    min-height: 100px;
}

.dropfile .progress {
    position: absolute;
    left: 0;
    bottom: -20px;
    background-color: #498CFA;
    bloc-bottom: 0;
    text-align: center;
}

.dropfile.hover {
    background-color: #D6D7E5;
    border-color: #3B7FED !important;
}

.dropfile.hover img {
    filter: alpha(opacity=30);
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

.dropfile span.instructions {
    position: absolute;
    top: 33%;
    left: 0;
    bloc-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.dropfile:last-child {
    margin-left: 10px;
}


/*************************************************/

@media (max-width: 760px) {
    .pull-bloc-bottom-container {
        top: -15%;
        position: absolute;
        z-index: 1000;
        left: 26px;
    }
}


/**************************************************/

.box-title {
    z-index: 1000;
    text-shadow: 1px 2px 2px #2f2c2c;
    font-weight: 900;
    letter-spacing: 2px;
    color: #d4cfcf;
}

.my-box {
    padding: 0px;
    border-radius: 10px;
}

.my-box h1 {
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px #060606;
    color: #cec9c9;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.my-box .block {
    height: 321px;
    border: 1px solid #f1ecec;
    background-color: #fff;
    margin: 2px 2px;
    overflow: hidden;
    box-shadow: 1px 2px 4px #000;
}

.block>.bloc-top {
    width: 100%;
    height: 206px;
    float: left;
    padding: 7px;
    overflow: hidden;
}

.block>.bloc-top img {
    width: 100%;
    max-width: 210px;
    /* border: 2px solid #3c8dbc; */
    border-radius: 1px;
    box-shadow: 3px 2px 4px #2b2727;
    margin-bottom: 5px;
    height: 166px;
}

.block>.bloc-bottom {
    float: left;
    width: 100%;
    padding: 6px 7px;
    height: 100%;
}

.block:after {
    display: table;
    content: " ";
    clear: both;
}


/*****************SEARCH PAGE ***********************/

code section {
    margin-left: 32px;
}


/*******************************************************/

h2.title {
    color: blue;
    letter-spacing: 6px;
    font-size: 16px;
}

.recent-list,
.recent-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.recent-list li:hover {
    text-decoration: underline;
}

.recent-list li h3 {
    color: #15110d;
    text-decoration: underline;
}


/*********************-MODAL-************************************/

#modal-default {
    overflow: auto !important;
}

.hidden {
    display: none;
}


/*************************************************************/

#page_title,
#book_title,
#page_chapiter {
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
}

#book_title {}